{% extends 'base.html.twig' %}

{% block title %}Editar movimiento{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="d-flex align-items-center gap-2 mb-4">
            <a href="{{ path('transaction_index', {account: transaction.account.id}) }}" class="btn btn-sm btn-outline-secondary">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <div>
                <h4 class="mb-0">Editar movimiento</h4>
                <small class="text-muted">{{ transaction.account.name }}</small>
            </div>
        </div>

        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">
                {{ form_start(form) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.amount) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.notes) }}
                    <div class="d-flex gap-2 mt-3">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-check me-1"></i>Guardar cambios
                        </button>
                        <a href="{{ path('transaction_index', {account: transaction.account.id}) }}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
